Body{
    background-color: black;
}

#response{
    width: 300px;
    display: block;
    margin: 10px auto;
    color: white;
    font-weight: 900;
    z-index: 100;
    font-size: 40px;
    text-shadow: 2px 4px 10px rgb(163, 163, 163);
    text-align: center;
}

.circle1{
    height: 500px;
    width: 500px;
    border: 8px solid rgb(111, 207, 245);
    border-radius: 50%;
    display: block;
    margin: 150px auto;
}

.innerCircle1{
    height: 35px;
    width: 70px;
    border: 15px solid rgb(111, 207, 245);
    border-radius: 50%;
    position: relative;
    top: 69px;
    left: -107px;
    border-right: 15px solid black;
    border-left: 15px solid black;
    border-bottom: 15px solid black;
    transform: rotate(-86deg);
    z-index: -1;
}

.innerCircle2 {
    height: 35px;
    width: 70px;
    border-width: 15px;
    border-style: solid;
    border-color: rgb(111, 207, 245) black black;
    border-image: initial;
    border-radius: 50%;
    position: relative;
    top: 166px;
    left: 99px;
    transform: rotate(-180deg);
    z-index: -1;
}

.innerCircle3{
    height: 35px;
    width: 70px;
    border: 15px solid rgb(111, 207, 245);
    border-radius: 50%;
    position: relative;
    top: 14px;
    left: 308px;
    transform: rotate(-271deg);
    border-right: 15px solid black;
    border-left: 15px solid black;
    border-bottom: 15px solid black;
    z-index: -1;
}

.innerCircle4{
    height: 35px;
    width: 70px;
    border: 15px solid rgb(111, 207, 245);
    border-radius: 50%;
    position: relative;
    top:-317px;
    left: 107px;
    border-right: 15px solid black;
    border-left: 15px solid black;
    border-bottom: 15px solid black;
    transform: rotate(3deg);
    z-index: -1;
}
.circle2{
    height: 400px;
    width: 400px;
    border: 5px solid rgb(111, 207, 245);
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-radius: 50%;
    display: block;
    margin: -608px auto;
    transform: rotate(-10deg);
    animation: rotate 40s infinite linear;
    z-index: 100;
}

.circle3{
    height: 350px;
    width: 350px;
    border: 9px solid rgb(111, 207, 245);
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 9px solid black;
    border-radius: 50%;
    margin: 220px auto;
    transform: rotate(105deg);
    animation: rotate1 10s infinite linear , flicker 6s ease infinite;
    z-index: 100;
}

.circle4 {
    height: 300px;
    width: 300px;
    border: 3px solid rgb(111, 207, 245);
    border-radius: 50%;
    margin: -557px auto;
    
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@keyframes rotate1 {
    from {
        -webkit-transform: rotate(359deg);
    }
    to {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes flicker {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes flicker2 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.circle5 {
    height: 250px;
    width: 250px;
    border: 18px solid rgb(111, 207, 245);
    border-radius: 50%;
    display: block;
    margin: 261px auto;
    animation: flicker2 6s ease infinite;
}

.circle6 {
    height: 200px;
    width: 200px;
    border: 5px solid rgb(111, 207, 245);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 50%;
    display: block;
    margin: -506px auto;
    
}

.circle7 {
    height: 150px;
    width: 150px;
    border: 5px solid rgb(111, 207, 245);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 50%;
    display: block;
    margin: 325px auto;
    transform: rotate(-84deg);
    animation: rotate 9s infinite linear;
}

#btn{
    position: relative;
    top: 131px;
    left: 78px;
    z-index: 1;
    background: transparent;
    color: azure;
    font-size: 30px;
    font-weight: 600;
    border: none;
}

#btn:hover{
    color: rgb(207, 207, 207);
    cursor: pointer;
}

